body {
    background-color: rgb(124, 172, 176);
}
.main header {
    background-color: grey;
    margin: 10px;
    padding: 10px;
}
.main footer {
    background-color: grey;
    margin: 10px;
    padding: 10px;
}